{
    "mcpServers": {
        "sonarqube": {
            "command": "python",
            "args": [
                "src/__main__.py"
            ],
            "env": {
                "SONARQUBE_URL": "",
                "SONARQUBE_TOKEN": ""
            }
        }
    }
}